.pageWrapper{
	width: 100%;
	margin-left: 0px; 
	margin-top: 10px; 
	padding: 10px 15px 0px; 
	position: relative; 
	word-wrap: break-word;
}
.canvasSize{
	margin-left: 15px; 
}
.lgSize{
	width: 1170px;
}
.mdSize{
	width: 970px;
}
.smSize{
	width: 750px;
}
.xsSize{
	width: 500px;
}
.wrapper{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.sideWrapper{
	position: absolute;
    width: 260px;
    height: 100%;
}
.sideWrapper nav ul li a span{
	font-weight: bold;
}
.navbar-side{
	height: 100%;
	overflow: auto;
}
.contentWrapper{
	margin-left: 260px;
	position: relative;
}
.content{
    margin-left: 10px;
    margin-top: 0px;
    padding: 30px 15px 15px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
    overflow: auto;
}
#gridSystem{
	margin: 0;
    padding: 0;
    overflow: hidden;
}
#gridSystem li{
	width: 120px;
	height: 120px;
	font-size: 13px;
    text-align: center;
	background-repeat: no-repeat;
	padding: 10px 20px 10px;
	opacity: 0.85;
	float: left;
	overflow: hidden;
}
#gridSystem li.ui-draggable{
	cursor: pointer;
}
#gridSystem li a{
	text-decoration: none;
}
#gridSystem li img{
	height: 65px;
	width: 65px;
}
#components{
	margin: 0;
    padding: 0;
    overflow: hidden;
}
#components li{
	width: 120px;
	height: 120px;
	font-size: 13px;
    text-align: center;
	background-repeat: no-repeat;
	padding: 10px 20px 10px;
	opacity: 0.85;
	float: left;
	overflow: hidden;
}
#components li.ui-draggable{
	cursor: pointer;
}
#components li a{
	text-decoration: none;
}
#components li img{
	height: 65px;
	width: 65px;
}
#animation li{
	font-size: 13px;
}
#animation li a{
	text-decoration: none;
}